{% set mesos = salt['grains.filter_by']({
    'default': {
        'is_master' : False,
        'master' : {
          'ip' : '127.0.0.1',
          'port' : '5050'
        }
    }, 
}, merge=salt['pillar.get']('mesos:lookup')) %}
